.Info {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.Inicio-Messi {
  color: lightyellow;
  margin: 20px;
  padding: 5px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(172, 150, 28);
  border-radius: 5px;
}

.Inicio-Messi:hover {
  background-color: lightskyblue;
  transition: all 0.5s;
  transform: scale(3px);
  margin: 15px;
}

.Foto-Carnet {
  width: 270px;
  height: 270px;
  margin-left: 55px;
  border-radius: 5px;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  margin-top: 30px;
}

.foto-cancha {
  width: 780px;
  height: 220px;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid lemonchiffon;
  box-shadow: 2px 0px 53px 3px rgba(230, 235, 229, 0.75);
  -webkit-box-shadow: 2px 0px 53px 3px rgba(230, 235, 229, 0.75);
  -moz-box-shadow: 2px 0px 53px 3px rgba(230, 235, 229, 0.75);
}
.foto-cancha:hover {
  transform: translate(45px, 25px);
  transition: 1s;
}

.Titulo-principal {
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: lightyellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline white;
  text-decoration: none;
}

.Lista {
  text-decoration: none;
  margin-top: 45px;
  border: 7px solid black;
  display: flex;
  font-size: 30px;
  padding: 5px;
  background-color: lightyellow;
  font-family: "Times New Roman", Times, serif;
  justify-content: space-evenly;
}

.footer {
  text-align: end;
  font-size: x-small;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  display: inline;
}

footer span {
  color: lightskyblue;
}

.span-sol {
  color: yellow;
}

li {
  list-style: none;
}

nav ul li {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 100px;
  align-items: center;
}

.icono-futbol {
  width: 17px;
  height: 17px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://images7.alphacoders.com/979/979200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icono-barcelona {
  width: 56px;
  height: 56px;
  margin-bottom: 200px;
  margin-left: 30px;
  transition: 1s;
}
.icono-barcelona:hover {
  transform: rotate(360deg);
}

.Imagen-inicio {
  width: 550px;
  height: 550px;
  margin-left: 120px;
}

p {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

nav {
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
}

.primera-imagen-perfil {
  width: 520px;
  height: 420px;
  margin-left: 90px;
  border-radius: 4px;
}

section {
  display: inline-flex;
  justify-content: space-between;
}

.Imagen-iconica {
  width: 320px;
  height: 280px;
  border-radius: 7px;
}
.Imagen-iconica:hover {
  transform: translate(-25px, -45px);
  transition: 1s;
}

header {
  border-bottom: 2px solid white;
  margin-top: 35px;
}

.Imagen-iconica-kempes {
  width: 320px;
  height: 280px;
  border-radius: 7px;
  margin-right: 145px;
}
.Imagen-iconica-kempes:hover {
  transform: translate(-25px, -45px);
  transition: 1s;
}

.Imagen-iconica-passarella {
  width: 300px;
  height: 320px;
  border-radius: 7px;
  margin-left: 460px;
}
.Imagen-iconica-passarella:hover {
  transform: translate(-25px, -45px);
  transition: 1s;
}

.Parrafo-1 {
  margin-top: 75px;
  display: flex;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 17px;
}

.imagen-dimaria-parrafo1 {
  width: 570px;
  height: 450px;
  border-radius: 5px;
  margin: 25px;
}

.Parrafo-2 {
  display: inline-flex;
  margin: 25px;
  font-size: 17px;
}

.Imagen-dimaria-parrafo2 {
  width: 500px;
  height: 420px;
  margin: 25px;
  border-radius: 5px;
}

.Imagen-final {
  margin-left: 70px;
  width: 1260px;
  height: 500px;
  margin-left: 180px;
  border-radius: 5px;
  margin-top: 45px;
}

.footer-jugadores {
  margin-top: 60px;
  align-content: end;
  text-align: end;
  color: white;
  text-decoration: underline white;
  font-size: 14px;
}

.fotos-cancha-iconica {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parrafo-carr {
  font-size: 17px;
  margin: 25px;
}

.Parrafo-index-1 {
  margin: 25px;
  font-size: 17px;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitulo {
  display: flex;
  justify-content: center;
}

.Foto-Carnet-messi {
  width: 270px;
  height: 320px;
  margin-left: 55px;
  border-radius: 5px;
  margin-top: 30px;
}

.Foto-final-jugadores {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.Imagen-messi-parrafo2 {
  width: 560px;
  height: 410px;
  margin-right: 45px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}

.parrafo-inicial {
  margin: 25px;
}

.imagen-maradona-1 {
  border-radius: 4px;
  width: 410px;
  height: 320px;
  margin: 25px;
}

.Foto-Carnet-maradona {
  width: 320px;
  height: 400px;
  margin-left: 55px;
  border-radius: 5px;
  margin-top: 30px;
}

.foto-kempes-1 {
  border-radius: 4px;
  width: 470px;
  height: 420px;
  margin: 25px;
}

.foto-passarella-2 {
  width: 420px;
  height: 420px;
  margin: 25px;
}

.Parrafo-1 p {
  font-size: 17px;
}

.Parrafo-2 p {
  font-size: 17px;
}

.parrafo-inicial p {
  font-size: 17px;
}

@media screen and (max-width: 939px) {
  .Imagen-final {
    height: 290px;
    width: 540px;
  }
  .primera-imagen-perfil {
    height: 290px;
    width: 540px;
  }
  .parrafo-inicial p {
    font-size: 10px;
  }
  .Parrafo-1 p {
    font-size: 10px;
  }
  .foto-cancha {
    height: 210px;
    width: 470px;
  }
  .Imagen-iconica {
    height: 200px;
    width: 200px;
  }
  .Parrafo-2 p {
    font-size: 10px;
  }
  .Imagen-messi-parrafo2 {
    height: 290px;
    width: 540px;
  }
  .Foto-Carnet-messi {
    width: 200px;
    height: 250px;
  }
  .icono-barcelona {
    width: 46px;
    height: 46px;
  }
  .Foto-Carnet-maradona {
    width: 250px;
    height: 300px;
  }
  .imagen-maradona-1 {
    width: 320px;
    height: 280px;
  }
  .Imagen-iconica-kempes {
    height: 180px;
    width: 180px;
    margin-left: 40px;
  }
  .foto-kempes-1 {
    width: 400px;
    height: 320px;
  }
  .imagen-dimaria-parrafo1 {
    width: 360px;
    height: 320px;
  }
  .Imagen-dimaria-parrafo2 {
    width: 360px;
    height: 320px;
  }
  .Imagen-iconica-passarella {
    height: 200px;
    width: 200px;
    margin: 40px;
  }
  .foto-passarella-2 {
    width: 360px;
    height: 320px;
  }
  .parrafo-carr {
    font-size: 12px;
  }
  .Parrafo-index-1 {
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .Imagen-final {
    height: 180px;
    width: 290px;
    margin: 0px;
  }
  .Foto-final-jugadores {
    display: flex;
    align-items: center;
  }
  .primera-imagen-perfil {
    height: 150px;
    width: 250px;
    margin: 0px;
    margin-bottom: 10px;
  }
  .parrafo-inicial p {
    font-size: 7px;
  }
  .Parrafo-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .Parrafo-1 p {
    font-size: 7px;
  }
  .foto-cancha {
    height: 80px;
    width: 200px;
  }
  .foto-cancha:hover {
    transform: translate(20px);
    transition: 1s;
  }
  .Imagen-iconica {
    height: 80px;
    width: 80px;
  }
  .Imagen-iconica:hover {
    transform: translate(-10px, -5px);
    transition: 1s;
  }
  .Parrafo-2 p {
    font-size: 7px;
  }
  .Parrafo-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Imagen-messi-parrafo2 {
    height: 120px;
    width: 320px;
  }
  .Foto-Carnet-messi {
    width: 130px;
    height: 170px;
    margin-left: 0px;
  }
  .icono-barcelona {
    width: 26px;
    height: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .Foto-Carnet-maradona {
    width: 170px;
    height: 220px;
    margin: 0px;
  }
  .imagen-maradona-1 {
    width: 280px;
    height: 240px;
  }
  .Imagen-iconica-kempes {
    height: 80px;
    width: 80px;
    margin-left: 40px;
    margin-right: 0px;
  }
  .Imagen-iconica-kempes:hover {
    transform: translate(-10px, -5px);
    transition: 1s;
  }
  .foto-kempes-1 {
    width: 340px;
    height: 220px;
  }
  .imagen-dimaria-parrafo1 {
    width: 270px;
    height: 240px;
  }
  .Imagen-dimaria-parrafo2 {
    width: 270px;
    height: 240px;
  }
  .Imagen-iconica-passarella {
    height: 80px;
    width: 80px;
    margin: 0px;
    margin-left: 4px;
  }
  .Imagen-iconica-passarella:hover {
    transform: translate(-10px, -5px);
    transition: 1s;
  }
  .foto-passarella-2 {
    width: 310px;
    height: 290px;
  }
  .parrafo-carr {
    font-size: 12px;
  }
  .Parrafo-index-1 {
    font-size: 12px;
  }
  .Inicio-Messi {
    color: lightyellow;
    padding: 3px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: rgb(172, 150, 28);
    border-radius: 5px;
    margin: 0px;
  }
  ul {
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  nav ul li {
    margin: 5px;
    margin-left: 0px;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://images7.alphacoders.com/979/979200.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 414px) {
  .Imagen-final {
    height: 180px;
    width: 290px;
    margin: 0px;
  }
  .Foto-final-jugadores {
    display: flex;
    align-items: center;
  }
  .primera-imagen-perfil {
    height: 150px;
    width: 250px;
    margin: 0px;
    margin-bottom: 10px;
  }
  .parrafo-inicial p {
    font-size: 7px;
  }
  .Parrafo-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .Parrafo-1 p {
    font-size: 7px;
  }
  .foto-cancha {
    height: 80px;
    width: 200px;
  }
  .foto-cancha:hover {
    transform: translate(20px);
    transition: 1s;
  }
  .Imagen-iconica {
    height: 80px;
    width: 80px;
  }
  .Imagen-iconica:hover {
    transform: translate(-10px, -5px);
    transition: 1s;
  }
  .Parrafo-2 p {
    font-size: 7px;
  }
  .Parrafo-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Imagen-messi-parrafo2 {
    height: 120px;
    width: 320px;
  }
  .Foto-Carnet-messi {
    width: 130px;
    height: 170px;
    margin-left: 0px;
  }
  .icono-barcelona {
    width: 26px;
    height: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .Foto-Carnet-maradona {
    width: 170px;
    height: 220px;
    margin: 0px;
  }
  .imagen-maradona-1 {
    width: 280px;
    height: 240px;
  }
  .Imagen-iconica-kempes {
    height: 80px;
    width: 80px;
    margin-left: 40px;
    margin-right: 0px;
  }
  .Imagen-iconica-kempes:hover {
    transform: translate(-10px, -5px);
    transition: 1s;
  }
  .foto-kempes-1 {
    width: 340px;
    height: 220px;
  }
  .imagen-dimaria-parrafo1 {
    width: 270px;
    height: 240px;
  }
  .Imagen-dimaria-parrafo2 {
    width: 270px;
    height: 240px;
  }
  .Imagen-iconica-passarella {
    height: 80px;
    width: 80px;
    margin: 0px;
    margin-left: 4px;
  }
  .Imagen-iconica-passarella:hover {
    transform: translate(-10px, -5px);
    transition: 1s;
  }
  .foto-passarella-2 {
    width: 310px;
    height: 290px;
  }
  .parrafo-carr {
    font-size: 12px;
  }
  .Parrafo-index-1 {
    font-size: 12px;
  }
  .Inicio-Messi {
    color: lightyellow;
    padding: 3px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: rgb(172, 150, 28);
    border-radius: 5px;
    margin: 0px;
  }
  ul {
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  nav ul li {
    margin: 5px;
    margin-left: 0px;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://images7.alphacoders.com/979/979200.jpg);
    background-size: cover;
    background-position: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
